<!DOCTYPE html>
<html lang="en">
    

<!-- blank.html  21 Nov 2019 03:54:41 GMT -->
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>Otika - Admin Dashboard Template</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='dropzone.css') }}">
  <!-- General CSS Files -->
  <link rel="stylesheet" href="{{ url_for('static', path='assets/css/app.min.css') }}">
  <!-- Template CSS -->
  <link rel="stylesheet" href="{{ url_for('static', path='assets/css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', path='assets/css/components.css') }}">
  <!-- Custom style CSS -->
  <link rel="stylesheet" href="{{ url_for('static', path='assets/css/custom.css') }}">
  <link rel='shortcut icon' type='image/x-icon' href="{{ url_for('static', path='assets/img/favicon.ico') }}" />
</head>

<body>
  <div class="loader"></div>
  <div id="app">
    <div class="main-wrapper main-wrapper-1">
      <div class="navbar-bg"></div>
      <nav class="navbar navbar-expand-lg main-navbar sticky">
        <div class="form-inline mr-auto">
          <ul class="navbar-nav mr-3">
            <li><a href="#" class="nav-link nav-link-lg" style="color:black"><h5> Brand Name</h5></a></li>
          </ul>
        </div>
      </nav>
      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="section-body">
            <!-- add content here -->
            <div class="row">
                <div class="col-12">
                  <div class="card">
                    <div class="card-header">
                      <h4>Upload Image to CHATGPT Question</h4>
                    </div>
                    <div class="card-body">
                      <form action="#" class="dropzone dz-clickable" id="mydropzone">
                        
                      <div class="dz-default dz-message"><span>Drop files here to upload</span></div></form>

                      <br/>
                      <br/>
                      <div class="list-group" id="result_gpt">
                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </section>
        <div class="settingSidebar">
          <a href="javascript:void(0)" class="settingPanelToggle"> <i class="fa fa-spin fa-cog"></i>
          </a>
          <div class="settingSidebar-body ps-container ps-theme-default">
            <div class=" fade show active">
              <div class="setting-panel-header">Setting Panel
              </div>
              <div class="p-15 border-bottom">
                <h6 class="font-medium m-b-10">Select Layout</h6>
                <div class="selectgroup layout-color w-50">
                  <label class="selectgroup-item">
                    <input type="radio" name="value" value="1" class="selectgroup-input-radio select-layout" checked>
                    <span class="selectgroup-button">Light</span>
                  </label>
                  <label class="selectgroup-item">
                    <input type="radio" name="value" value="2" class="selectgroup-input-radio select-layout">
                    <span class="selectgroup-button">Dark</span>
                  </label>
                </div>
              </div>
              <div class="p-15 border-bottom">
                <h6 class="font-medium m-b-10">Sidebar Color</h6>
                <div class="selectgroup selectgroup-pills sidebar-color">
                  <label class="selectgroup-item">
                    <input type="radio" name="icon-input" value="1" class="selectgroup-input select-sidebar">
                    <span class="selectgroup-button selectgroup-button-icon" data-toggle="tooltip"
                      data-original-title="Light Sidebar"><i class="fas fa-sun"></i></span>
                  </label>
                  <label class="selectgroup-item">
                    <input type="radio" name="icon-input" value="2" class="selectgroup-input select-sidebar" checked>
                    <span class="selectgroup-button selectgroup-button-icon" data-toggle="tooltip"
                      data-original-title="Dark Sidebar"><i class="fas fa-moon"></i></span>
                  </label>
                </div>
              </div>
              <div class="p-15 border-bottom">
                <h6 class="font-medium m-b-10">Color Theme</h6>
                <div class="theme-setting-options">
                  <ul class="choose-theme list-unstyled mb-0">
                    <li title="white" class="active">
                      <div class="white"></div>
                    </li>
                    <li title="cyan">
                      <div class="cyan"></div>
                    </li>
                    <li title="black">
                      <div class="black"></div>
                    </li>
                    <li title="purple">
                      <div class="purple"></div>
                    </li>
                    <li title="orange">
                      <div class="orange"></div>
                    </li>
                    <li title="green">
                      <div class="green"></div>
                    </li>
                    <li title="red">
                      <div class="red"></div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="p-15 border-bottom">
                <div class="theme-setting-options">
                  <label class="m-b-0">
                    <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input"
                      id="mini_sidebar_setting">
                    <span class="custom-switch-indicator"></span>
                    <span class="control-label p-l-10">Mini Sidebar</span>
                  </label>
                </div>
              </div>
              <div class="p-15 border-bottom">
                <div class="theme-setting-options">
                  <label class="m-b-0">
                    <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input"
                      id="sticky_header_setting">
                    <span class="custom-switch-indicator"></span>
                    <span class="control-label p-l-10">Sticky Header</span>
                  </label>
                </div>
              </div>
              <div class="mt-4 mb-4 p-3 align-center rt-sidebar-last-ele">
                <a href="#" class="btn btn-icon icon-left btn-primary btn-restore-theme">
                  <i class="fas fa-undo"></i> Restore Default
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="main-footer">
        <div class="footer-left">
          <a href="#">Copyright @2023</a></a>
        </div>
        <div class="footer-right">
        </div>
      </footer>
    </div>
  </div>
  <!-- General JS Scripts -->
  <script src="{{ url_for('static', path='assets/js/app.min.js') }}"></script>
  <!-- JS Libraies -->
  <script src="{{ url_for('static', path='assets/bundles/sweetalert/sweetalert.min.js') }}"></script>
  <!-- Page Specific JS File -->
  <!-- Template JS File -->
  <script src="{{ url_for('static', path='assets/js/scripts.js') }}"></script>
  <!-- Custom JS File -->
  <script src="{{ url_for('static', path='assets/js/custom.js') }}"></script>
  <script src="{{ url_for('static', path='dropzone.min.js') }}"></script>
</body>


<!-- blank.html  21 Nov 2019 03:54:41 GMT -->
</html>

<script>
  Dropzone.autoDiscover = false;
  var dropzonex = new Dropzone("#mydropzone", {
    url: "/gpt/uploadfile",
    maxFilesize: 10,
    renameFile: function (file) {
      return "";
    },
    resizeMimeType: 'image/jpeg',
    dictDefaultMessage: '<div class="dz-message" data-dz-message><span>Drag your image here!</span></div>',
    dictFallbackMessage: "Your browser does not support drag'n'drop file uploads.",
    dictFallbackText: "Please use the fallback form below to upload your files like in the olden days.",
    dictFileTooBig: "File is too big ({{filesize}}MiB). Max filesize: {{maxFilesize}}MiB.",
    dictInvalidFileType: "You can't upload files of this type.",
    dictResponseError: "Server responded with {{statusCode}} code.",
    dictCancelUpload: "Cancel upload",
    dictCancelUploadConfirmation: "Are you sure you want to cancel this upload?",
    dictRemoveFile: "Remove file",
    dictMaxFilesExceeded: "You can not upload any more files.",
    success: function (file, response) {
      dropzonex.removeFile(file);
      if (response.code == 200){
        result = response.result;
        var txt = '<a href="#" class="list-group-item list-group-item-action flex-column align-items-start"><div class="d-flex w-100 justify-content-between"><h5 class="mb-1">Question: '+result.text+'</h5><small></small></div><p class="mb-1">Answer: '+result.result+'</p><small></small></a>'
        $('#result_gpt').append(txt);
      }else{
        swal(response.status, 'Error in your request please try again!', 'error');
      }
      //return file.classList.add("dz-success");

    }
  });

  dropzonex.on("drop", function(event) {
    swal('Please wait image processing!', {
      buttons: false,
      timer: 4000,
    });
  });
  dropzonex.on("complete", function (file) {
    setTimeout(function () {
      dropzonex.removeFile(file);
      var timestamp = Date.now();
    }, 1000);
  }); 

  
</script>